/*-- scss:defaults --*/

// Nerd Font
@import "https://www.nerdfonts.com/assets/css/webfont.css";

// JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

// Rufina
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

// Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// fuente
$font-family-sans-serif: "Noto Sans", serif !default;
$font-family-monospace: "JetBrains Mono";
$presentation-font-size-root: 30px;

// colores
$azul: #224289;
$blanco: #FFFFFF;
$celeste: lighten($azul, 60);
$gris: #c0c0c0 ;
$rosa: #EA99C0;
$negro: #000000;
$rosa-claro: lighthen($rosa, 60);
$code-bg: $celeste;

// colors
$body-bg: $azul !default;
$body-color: $blanco !default;
$link-color: $rosa !default;
$selection-bg: $gris !default;

// headings
$presentation-heading-font: "Rufina", serif !default;
$presentation-heading-color: $rosa !default;

// mermaid
$mermaid-bg-color: $blanco;
$mermaid-edge-color: $rosa;
$mermaid-node-fg-color: $celeste;
$mermaid-fg-color: $body-color;
$mermaid-fg-color--lighter: $azul;
$mermaid-fg-color--lightest: $azul;
$mermaid-font-family: $font-family-sans-serif;
$mermaid-label-bg-color: $body-bg;
$mermaid-label-fg-color: $azul;
$mermaid-node-bg-color: $blanco;
$mermaid-node-fg-color: $rosa;

// callout
$callout-border-width: 1rem;

/*-- scss:rules --*/

li::marker {
    color: $rosa;
}

.fondo {
    background-color: $rosa;
    padding: 10px;
    a {
      color: $azul;
        &:hover {
          color: $celeste;
        }
    }
}

.grande {
    font-size: 6em;
}

.code-with-filename .code-with-filename-file strong {
    color: $azul;
}

:root {
    --quarto-hl-fu-color: #{$negro};
}

.reveal .footer > * {
    margin-top: 0;
    margin-bottom: 0;
    color: $blanco;
    font-family: "JetBrains Mono";
}

h1.title {
    margin-bottom: 1.1em;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
    text-align: left;
}

.quarto-title-author-name {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.quarto-title-affiliation {
    font-size: 1rem;
}

.quarto-title-author-email {
    color: $rosa;
    padding-bottom: 10px;
}

quarto-portada {
    color: $rosa;
    text-shadow: 1px 1px $blanco;
    font-size: 1.3em;
}

vhg {
    color: $rosa;
    font-weight: bold;
    text-decoration: solid 2px $blanco;
}

rosa {
    color: $rosa;
}

gris {
    color: $gris;
}

blanco {
    color: $blanco;
}

caa {
    color: $blanco;
    font-size: .7em;
    line-height: 10px;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
    padding: 1em 1em 1em 1em;
    // background-color: $celeste;
}

.subtitle {
    color: $gris;
}

.date {
    font-family: "JetBrains Mono";
    color: $gris;
    font-size: 1rem;
    margin-top: 150px imporant;
}

.reveal .slide-number {
    font-family: "JetBrains Mono";
    color: $gris;
}

.reveal .footer > * {
    margin-top: 0;
    margin-bottom: 0;
    color: $celeste;
    font-family: "JetBrains Mono";
}

.svg-spinners--clock {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23EA99C0' d='M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,20a9,9,0,1,1,9-9A9,9,0,0,1,12,21Z'/%3E%3Crect width='2' height='7' x='11' y='6' fill='%23EA99C0' rx='1'%3E%3CanimateTransform attributeName='transform' dur='9s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/rect%3E%3Crect width='2' height='9' x='11' y='11' fill='%23EA99C0' rx='1'%3E%3CanimateTransform attributeName='transform' dur='0.75s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/rect%3E%3C/svg%3E");
}

#mermaid-1 p {
    margin: 0;
    font-weight: bold;
}

#mermaid-2 p {
    margin: 0;
    font-weight: bold;
}

.reveal div.callout.callout-style-simple, .reveal div.callout.callout-style-default {
    border-left: 1rem solid $rosa;
    border-right: solid 1px $rosa;
    border-top: solid 1px $rosa;
    border-bottom: solid 1px $rosa;
}

.link {
    font-size: 6rem;
}

linea {
    text-decoration: underline 3px $rosa;
}

#mermaid-2 .outdated>* {
    stroke: #000000!important;
    color: #000000!important;
    fill: $blanco !important;
}

.tree {
    font-weight: bold;
}

.arbol {
    font-weight: bold;
}

.quarto-dark .code-with-filename .code-with-filename-file {
    background-color: $celeste;
}

.eqi-container {
  display: flex;
  justify-content: space-between;
}

azul {
    color: $azul;
}

.fondo-azul {
    background-color: $azul;
    padding: 5px;
}

.fondo-azul-gracias {
    background-color: $azul;
    padding: 5px;
}

code {
    border-radius: 5px;
}

.carbon--development {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23EA99C0' d='M8 4v4H4V4zM2 2v8h8V2zm16 5v4h-4V7zm-6-2v8h8V5zM8 16v4H4v-4zm-6-2v8h8v-8z' stroke-width='0.25' stroke='%23fff'/%3E%3Cpath fill='%23EA99C0' d='M22 10v6h-6v6h-6v8h20V10Zm-4 8h4v4h-4Zm-2 10h-4v-4h4Zm6 0h-4v-4h4Zm6 0h-4v-4h4Zm0-6h-4v-4h4Zm-4-6v-4h4v4Z' stroke-width='0.25' stroke='%23fff'/%3E%3C/svg%3E");
}

lang-rosa {
    color: $blanco;
    &:hover {
        color: $rosa;
    }
}

gracias {
    font-family: "Rufina";
    color: $azul;
    font-weight: bold;
    text-shadow: 2px 2px $blanco;
}

// QUARTO
.mingcute--file-code-line {
  display: inline-block;
  width:55px;
  height:55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23fff' d='M13.586 2A2 2 0 0 1 15 2.586L19.414 7A2 2 0 0 1 20 8.414V20a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2ZM12 4H6v16h12V10h-4.5A1.5 1.5 0 0 1 12 8.5zm-.793 8.173a1 1 0 0 1 0 1.414l-1.414 1.414l1.414 1.415a1 1 0 0 1-1.414 1.414l-2.121-2.122a1 1 0 0 1 0-1.414l2.12-2.121a1 1 0 0 1 1.415 0m3 0l2.121 2.121a1 1 0 0 1 0 1.414l-2.12 2.122a1 1 0 0 1-1.415-1.414L14.207 15l-1.414-1.414a1 1 0 0 1 1.414-1.414ZM14 4.414V8h3.586z'/%3E%3C/g%3E%3C/svg%3E");
}

.fe--document {
  display: inline-block;
  width:55px;
  height:55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M15 4H6v16h12V7h-3zM6 2h10l4 4v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2m2 9h8v2H8zm0 4h8v2H8z'/%3E%3C/svg%3E");
}

.simple-icons--quarto {
  display: inline-block;
  width:55px;
  height:55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12.65 12.854V24c6.042-.325 10.923-5.105 11.33-11.125H12.65Zm-1.504 0H.02c.427 5.94 5.166 10.699 11.105 11.105V12.854Zm1.505-1.505H24C23.675 5.247 18.753.325 12.65 0Zm-1.505 0V0C5.106.427.326 5.308 0 11.35Z'/%3E%3C/svg%3E");
}

.ph--file-html-thin {
  display: inline-block;
  width:55px;
  height:55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23fff' d='M212 88a4 4 0 0 0-1.17-2.83l-2-2l-54-54A4 4 0 0 0 152 28H56a12 12 0 0 0-12 12v80a4 4 0 0 0 8 0V40a4 4 0 0 1 4-4h92v52a4 4 0 0 0 4 4h52v28a4 4 0 0 0 8 0Zm-56-46.35L198.34 84H156ZM64 160v48a4 4 0 0 1-8 0v-20H28v20a4 4 0 0 1-8 0v-48a4 4 0 0 1 8 0v20h28v-20a4 4 0 0 1 8 0m56 0a4 4 0 0 1-4 4h-12v44a4 4 0 0 1-8 0v-44H84a4 4 0 0 1 0-8h32a4 4 0 0 1 4 4m72 0v48a4 4 0 0 1-8 0v-36l-16.8 22.4a4 4 0 0 1-6.4 0L144 172v36a4 4 0 0 1-8 0v-48a4 4 0 0 1 7.2-2.4l20.8 27.73l20.8-27.73a4 4 0 0 1 7.2 2.4m56 48a4 4 0 0 1-4 4h-28a4 4 0 0 1-4-4v-48a4 4 0 0 1 8 0v44h24a4 4 0 0 1 4 4'/%3E%3C/svg%3E");
}

.qlementine-icons--file-html-16 {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M6.35 8.85a.5.5 0 0 0-.707-.707l-1.5 1.5a.5.5 0 0 0 0 .707l1.5 1.5a.5.5 0 0 0 .707-.707L5.2 9.993l1.15-1.15zM8.6 7.01a.5.5 0 0 1 .392.588l-1 5a.5.5 0 0 1-.98-.196l1-5A.5.5 0 0 1 8.6 7.01m3.3 2.64l-1.5-1.5a.5.5 0 0 0-.707.707l1.15 1.15l-1.15 1.15a.5.5 0 0 0 .707.707l1.5-1.5a.5.5 0 0 0 0-.707z'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M2 3c0-1.1.895-2 2-2h5.5c.133 0 .26.053.354.146l4 4A.5.5 0 0 1 14 5.5V13c0 1.1-.895 2-2 2H4c-1.1 0-2-.895-2-2zm2-1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6H9.5a.5.5 0 0 1-.5-.5V2zm6 .707l2.29 2.29H10z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.mdi--web {
  display: inline-block;
  width:55px;
  height:55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M16.36 14c.08-.66.14-1.32.14-2s-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2m-5.15 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56M14.34 14H9.66c-.1-.66-.16-1.32-.16-2s.06-1.35.16-2h4.68c.09.65.16 1.32.16 2s-.07 1.34-.16 2M12 19.96c-.83-1.2-1.5-2.53-1.91-3.96h3.82c-.41 1.43-1.08 2.76-1.91 3.96M8 8H5.08A7.92 7.92 0 0 1 9.4 4.44C8.8 5.55 8.35 6.75 8 8m-2.92 8H8c.35 1.25.8 2.45 1.4 3.56A8 8 0 0 1 5.08 16m-.82-2C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2s.06 1.34.14 2M12 4.03c.83 1.2 1.5 2.54 1.91 3.97h-3.82c.41-1.43 1.08-2.77 1.91-3.97M18.92 8h-2.95a15.7 15.7 0 0 0-1.38-3.56c1.84.63 3.37 1.9 4.33 3.56M12 2C6.47 2 2 6.5 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
}

.material-symbols--markdown {
  display: inline-block;
  width:55px;
  height:55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='m16 15l3-3l-1.05-1.075l-1.2 1.2V9h-1.5v3.125l-1.2-1.2L13 12zM4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm1.5-5H7v-4.5h1v3h1.5v-3h1V15H12v-5q0-.425-.288-.712T11 9H6.5q-.425 0-.712.288T5.5 10z'/%3E%3C/svg%3E");
}

.file-icons--latex {
  display: inline-block;
  width:55px;
  height:55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M507.712 311.74q-11.854 0-16.772-2.27c-4.918-2.27-6.599-4.456-9.962-8.827l-62.298-89.284l39.85-57.757q5.045-6.81 13.746-12.358c8.701-5.548 15.343-5.549 28.627-5.549v-8.828h-68.855v8.828q8.323 0 12.989 4.161c4.666 4.161 4.666 5.843 4.666 9.206q0 1.766-.252 3.405c-.252 1.639-.841 2.228-2.018 3.405l-33.293 48.93l-37.832-55.74l-1.135-1.387l-1.135-2.9q0-3.531 4.792-6.305c4.792-2.774 7.567-2.774 13.115-2.774v-8.828H311.74v8.828h4.54q11.603 0 17.403 2.018c5.8 2.018 6.894 3.699 9.08 7.062l53.47 79.952l-46.66 69.108q-3.28 5.044-11.981 11.476c-8.701 6.432-15.932 6.432-30.392 6.432v8.827h16.413c-3.319 17.739-7.947 31.114-13.892 40.103q-10.34 15.637-46.913 15.637h-37.833q-10.089 0-11.728-2.27c-1.639-2.27-1.639-4.456-1.639-8.827v-75.917h24.465q19.925 0 25.474 7.567c5.549 7.567 5.549 13.704 5.549 25.978h6.81v-75.665h-6.81q0 18.412-4.666 25.852c-4.666 7.44-11.896 7.44-26.357 7.44h-24.465v-69.108q0-6.559 1.639-8.827c1.639-2.268 5.002-2.27 11.728-2.27h35.563q33.292 0 42.75 12.863c9.458 12.863 10.635 22.868 12.989 42.877h6.558l-8.827-64.567H184.714l-4.381-62.298H4.538l-4.54 64.567h6.558q3.531-35.058 11.602-45.399c8.071-10.341 18.664-10.341 39.85-10.341h15.386q5.044 0 5.927 3.026c.883 3.026.883 4.708.883 8.071v149.313q0 6.558-3.657 9.962c-3.657 3.404-10.888 3.405-25.348 3.405H37.832v8.827h106.94v-8.827h-9.08q-21.69 0-25.221-3.405c-3.531-3.405-3.531-5.591-3.531-9.962V149.063q0-5.045.504-7.188c.504-2.143 1.597-2.732 3.784-3.91h15.638q31.779 0 39.85 10.341c5.202 6.666 8.907 21.058 11.123 43.129h-21.968v8.827h6.558q16.899 0 19.673 2.522c2.774 2.522 2.774 5.297 2.774 10.845v149.313q0 8.323-2.774 10.846c-2.774 2.523-8.407 2.522-19.673 2.522h-6.558v8.827h164.697l9.763-64.567h48.247v-8.827q-10.089 0-13.998-5.045c-3.909-5.045-3.909-6.137-3.909-8.323q0-1.766.252-3.405c.252-1.639.841-2.228 2.017-3.405l40.103-60.028l44.39 69.107q0 1.514 1.135 1.765l1.135.252q0 3.531-4.666 6.305c-4.666 2.774-7.44 2.774-12.989 2.774v8.827H512v-8.827z'/%3E%3C/svg%3E");
}

.ant-design--code-filled {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23fff' d='M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32M513.1 518.1l-192 161c-5.2 4.4-13.1.7-13.1-6.1v-62.7c0-2.3 1.1-4.6 2.9-6.1L420.7 512l-109.8-92.2a7.63 7.63 0 0 1-2.9-6.1V351c0-6.8 7.9-10.5 13.1-6.1l192 160.9c3.9 3.2 3.9 9.1 0 12.3M716 673c0 4.4-3.4 8-7.5 8h-185c-4.1 0-7.5-3.6-7.5-8v-48c0-4.4 3.4-8 7.5-8h185c4.1 0 7.5 3.6 7.5 8z'/%3E%3C/svg%3E");
}

.skill-icons--latex-light {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cdefs%3E%3Cpath id='skillIconsLatexLight0' fill='%23fdfdfd00' stroke='%23fdfdfd00' d='M160.686 58.824a2.797 2.797 0 1 1-5.594 0a2.797 2.797 0 0 1 5.594 0Z' stroke-width='0'/%3E%3C/defs%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%231c1b1b00' rx='60'/%3E%3Cpath fill='%23fff' d='M67.895 193.68h-2.147c-.86 8.853-2.062 19.614-17.178 19.614h-6.957c-4.037 0-4.208-.607-4.208-3.471v-46.085c0-2.951 0-4.166 8.073-4.166h2.834v-2.604c-3.092.261-10.821.261-14.343.261c-3.35 0-10.049 0-12.969-.261v2.604h1.975c6.614 0 6.786.954 6.786 4.079v45.564c0 3.125-.172 4.079-6.786 4.079H21v2.691h44.576z'/%3E%3Cpath fill='%23fff' d='M66.435 156.881c-.344-1.041-.516-1.388-1.632-1.388c-1.117 0-1.374.347-1.718 1.388l-13.828 35.41c-.601 1.476-1.632 4.166-6.957 4.166v2.17h13.313v-2.17c-2.663 0-4.294-1.215-4.294-2.951c0-.434.085-.607.257-1.215l2.92-7.464h17.006l3.436 8.853c.171.347.343.781.343 1.041c0 1.736-3.264 1.736-4.895 1.736v2.17h16.92v-2.17h-1.203c-4.037 0-4.466-.607-5.067-2.343zm-3.436 6.162l7.644 19.615H55.355z'/%3E%3Cpath fill='%23fff' d='M135.231 157.489H82.925L81.38 176.93h2.061c1.203-13.974 2.491-16.838 15.46-16.838c1.546 0 3.779 0 4.638.174c1.804.347 1.804 1.302 1.804 3.298v45.564c0 2.951 0 4.166-9.018 4.166h-3.436v2.691c3.521-.261 12.196-.261 16.147-.261s12.797 0 16.319.261v-2.691h-3.436c-9.018 0-9.018-1.215-9.018-4.166v-45.564c0-1.736 0-2.951 1.546-3.298c.945-.174 3.264-.174 4.896-.174c12.883 0 14.171 2.864 15.374 16.838h2.147z'/%3E%3Cpath fill='%23fff' d='M181.267 213.207h-2.147c-2.148 13.279-4.123 19.615-18.81 19.615h-11.337c-4.037 0-4.209-.608-4.209-3.472v-23.086h7.644c8.332 0 9.276 2.778 9.276 10.155h2.148v-22.913h-2.148c0 7.377-.944 10.068-9.276 10.068h-7.644v-20.743c0-2.864.172-3.471 4.209-3.471h10.994c13.14 0 15.374 4.773 16.748 16.837h2.147l-2.405-19.441H128.36v2.604h1.975c6.614 0 6.785.954 6.785 4.079v45.304c0 3.124-.171 4.079-6.785 4.079h-1.975v2.69h49.3z'/%3E%3Cpath fill='%23fff' d='m207.119 182.571l11.767-17.358c1.804-2.777 4.724-5.554 12.368-5.641v-2.604h-20.442v2.604c3.436.087 5.326 1.996 5.326 3.992c0 .868-.172 1.042-.773 1.996l-9.792 14.581l-10.993-16.664c-.172-.26-.602-.954-.602-1.302c0-1.041 1.89-2.516 5.497-2.603v-2.604c-2.92.261-9.19.261-12.453.261c-2.663 0-7.988-.087-11.166-.261v2.604h1.632c4.724 0 6.356.607 7.988 3.037l15.717 24.041l-14 20.916c-1.202 1.736-3.779 5.728-12.368 5.728v2.691h20.442v-2.691c-3.951-.086-5.411-2.43-5.411-3.992c0-.781.257-1.128.859-2.083l12.11-18.139l13.57 20.656c.172.347.43.694.43.955c0 1.041-1.89 2.517-5.583 2.603v2.691c3.006-.261 9.276-.261 12.454-.261c3.607 0 7.558.087 11.165.261v-2.691h-1.632c-4.466 0-6.27-.434-8.073-3.124z'/%3E%3Cpath fill='%23fff' d='M66.772 20c1.51 2.72 3.08 5.04 4.718 7.052c-.749-.11-1.52-.174-2.323-.165c-1.583.017-3.276.28-5.11.857c3.2 2.68 5.905 4.636 8.29 6.143c-3.685-1.177-7.654-1.345-12.317.868c3.406 2.13 6.264 3.671 8.766 4.822c-3.9-.72-7.945-.392-12.359 2.519c2.915 1.299 5.435 2.274 7.672 3.015c-3.672.128-7.305 1.262-10.862 4.636c3.085.765 5.728 1.272 8.053 1.61c-2.845.575-5.637 1.94-8.342 4.667c2.096.453 3.983.795 5.71 1.053c-2.126 1.028-4.14 2.62-5.979 5.06c2.416.187 4.553.27 6.474.278c-2.325 1.076-4.501 2.776-6.443 5.504c3.45.172 6.332.155 8.818.01c-2.732 1.117-5.25 3.004-7.403 6.267c4.287.063 7.683-.143 10.53-.495c-3.534.96-6.806 2.89-9.498 6.97c3.463.05 6.354-.076 8.838-.31c-3.036 1.654-5.644 4.164-7.361 8.445c3.126-.592 5.746-1.225 8.002-1.889c-2.35 1.71-4.326 4.112-5.648 7.723a90 90 0 0 0 5.637-1.435c-1.507 1.822-2.67 4.103-3.325 7.093a88 88 0 0 0 6-2.447c-1.665 1.948-2.936 4.413-3.563 7.703c3.206-1.282 5.814-2.507 8.012-3.676c-2.015 2.154-3.514 4.925-4.109 8.787c3.904-1.724 6.899-3.32 9.334-4.822c-2.797 2.344-4.947 5.46-5.69 10.273c5.101-2.251 8.661-4.294 11.43-6.184c-1.189 2.405-1.82 5.222-1.517 8.734c4.93-3.782 8.052-6.843 10.376-9.54c-.157 1.742-.033 3.636.485 5.731c3.54-6.081 7.056-7.856 10.696-9.885c-5.797 2.919-4.938 5.116-4.938 7.665c4.423-4.657 10.59-9.596 12.477-12.69c-2.523 3.788-3.549 7.375-4.213 10.542c-12.905 6.825-20.762 8.608-29.57 11.336c3.416 1.254 7.078 2.481 5.564 4.223l-4.037 4.027c2.58-.802 5.212-1.947 7.496-.382c-.224 2.117-2.9 3.185-5.183 4.419c4.02-1.449 4.89-1.114 5.947-.774c.528 2.536-1.305 3.9-2.499 5.575c10.128-7.7 23.342-13.783 32.648-16.324c13.09-4.408 29.968-8.99 34.558-20.164l4.605-18.43C161 78.17 165.95 72.13 168.298 64.79c14.985-2.899 27.101-1.852 39.741-1.528c-1.152-.192-38.594-6.536-38.594-6.536c-10.943-14.971-27.254-4.795-32.628 9.995c-1.356 3.733-9.094 3.734-11.336-.01C116.614 47.62 89.687 27.438 66.773 20z'/%3E%3Cpath fill='%23fdfdfd00' d='m155.177 59.07l-.098.157c-.388.723-1.045 1.217-1.969 1.516c-.923.298-2.106.394-3.484.334l-.866-.04l.63.611c.319.308.409.553.413.768s-.088.446-.295.709c-.415.524-1.239 1.094-2.008 1.673l-.256.177l.177.256c.641.984.935 1.742 1.004 2.323s-.066.999-.335 1.358c-.537.72-1.715 1.208-2.776 1.811l-.196.099l.039.236c.091.554-.058 1.006-.453 1.457c-.395.45-1.059.88-1.949 1.26l-.236.098l.039.256c.178 1.185.534 2.217 1.28 2.874c.682.602 1.715.76 3.032.493c.229 1.263.558 2.412 1.319 3.17c.77.767 1.991.994 3.622.57c.367.885.904 1.515 1.516 1.93c.672.454 1.551.637 2.273.862l.428-.461c-.717-.223-1.776-.567-2.347-.953s-1.035-.915-1.358-1.83l-.099-.316l-.315.099c-1.677.515-2.607.283-3.248-.355c-.64-.637-1-1.79-1.22-3.13l-.059-.354l-.355.098c-1.382.361-2.199.177-2.756-.315c-.52-.459-.828-1.272-1.004-2.283c.801-.37 1.488-.776 1.929-1.28a2.42 2.42 0 0 0 .591-1.732c.977-.538 2.156-1 2.835-1.91c.355-.476.539-1.101.453-1.83c-.079-.665-.404-1.431-.965-2.343c.689-.508 1.436-1.016 1.91-1.615c.263-.333.461-.7.452-1.122c-.004-.232-.227-.443-.354-.67c1.198.017 2.289-.062 3.189-.353c.949-.307 1.694-.866 2.185-1.634c1.418.007 2.886.319 4.371.511c1.525.199 3.077.252 4.547-.393l-.275-.61c-1.301.57-2.69.547-4.174.354s-3.03-.543-4.587-.532z'/%3E%3Cuse href='%23skillIconsLatexLight0' stroke-width='0'/%3E%3Cpath fill='%23fdfdfd00' d='M169.041 56.2c-2.512 3.267-3.143 2.423-4.672 2.97l-.256.1l.04.275c.588 3.281 2.533 4.324 4.051 5.517l.084-.266l.404-.077c-1.521-1.195-3.186-2.208-3.791-4.997c1.113-.263 2.176.073 4.547-3.012zM72.344 33.88c4.746 2.942 12.556 5.976 17.572 9.146c2.759 1.757 5.237 3.507 7.165 5.02s3.354 3.075 3.879 3.583s.88.268.531-.394s-2.066-2.191-4.016-3.72s-4.43-3.273-7.205-5.04c-5.552-3.535-12.067-6.696-17.925-8.596m-.855-6.829c1.99.46 4.926 2.156 8.19 3.972c3.265 1.815 6.824 4.049 10.08 6.22c3.256 2.172 5.766 4.073 7.773 5.605c1.906 1.63 2.847 2.687 3.212 2.684c.05.01.099.01.177 0a.4.4 0 0 0 .275-.197a.36.36 0 0 0 .02-.296c-.021-.063-.032-.097-.059-.137c-.108-.162-.272-.314-.512-.532c-.479-.437-1.272-1.079-2.283-1.85c-2.023-1.544-4.962-3.648-8.23-5.828c-3.266-2.179-6.85-4.432-10.137-6.26c-1.17-.433-6.901-3.464-8.506-3.38m-2.718 12.527c6.09 2.486 14.755 5.406 20.538 9.041c3.108 1.974 5.814 3.94 7.835 5.552a48 48 0 0 1 2.48 2.106c.627.576.979 1.098 1.182 1.24c.423.3.748.1.551-.373c-.148-.358-.638-.77-1.28-1.359c-.64-.59-1.5-1.312-2.52-2.126a92 92 0 0 0-7.894-5.61c-6.258-3.975-13.74-7.469-20.892-8.471m-4.687 5.525c4.746.003 14.552 4.348 18.685 6.525c6.7 3.574 12.795 8.168 16.162 11.379c.374.356.92.042.492-.453c-3.128-3.625-9.589-7.897-16.34-11.497s-13.74-5.96-19-5.954m-2.742 6.252c7.136 1.044 15.69 3.925 21.922 7.046c3.478 1.766 6.58 3.657 8.958 5.335a28.7 28.7 0 0 1 4.567 4.055c.433.489.95.51.551-.354s-2.335-2.553-4.744-4.252c-2.41-1.7-5.53-3.595-9.036-5.375c-7.01-3.56-14.994-6.36-22.218-6.455m2.355 5.311c-1.772-.154-3.368.21-4.994.413c6.34-.595 15.207 2.317 21.118 5.04c6.962 3.265 12.743 7.746 15.513 10.592c.433.445.74-.122.512-.414c-2.579-3.292-8.72-7.492-15.75-10.788c-5.272-2.471-11.08-4.378-16.399-4.842m-4.505 5.714c6.24.462 14.594 1.957 20.446 4.643c5.885 2.753 10.352 6.322 12.599 8.347c.346.312.957.091.472-.472c-2.05-2.383-6.82-5.68-12.776-8.465c-5.957-2.787-13.194-4.571-20.741-4.053m5.604 5.193c-1.317-.045-1.934.202-3.204.339c4.235.186 10.965 1.313 14.681 2.574c4.823 1.674 8.789 4.194 11.045 6.162c.435.38.76-.13.472-.453c-2.113-2.37-6.406-4.64-11.3-6.339c-3.67-1.273-7.745-2.15-11.694-2.283m-.182 6.141c9.053.611 14.528 2.206 18.724 5.965c.314.282.81-.106.472-.472c-4.306-4.666-12.784-5.966-19.196-5.493m6.971 5.438c-2.744-.22-5.04.38-7.541 1.212c7.319-1.167 10.362-.607 15.908 1.997c.632.297.595-.403.315-.571c-2.946-1.77-5.938-2.417-8.682-2.638m-.26 5.098c-2.595.23-4.799 1.121-6.615 2.599c7.248-2.794 9.252-2.238 14.795-.667c.73.207.503-.495.217-.61c-3.32-1.33-5.802-1.552-8.397-1.322m14.361 4.489c-3.867-.418-8.224.051-12.048.749c-3.824.697-7.112 2.114-8.969 3.623c6.358-2.685 7.517-2.679 9.088-2.974c3.767-.687 7.5-.955 11.89-.748c.398.019.378-.613.04-.65zm2.244 3.13c-4.19-.158-8.519.88-12.264 1.95s-6.524 2.53-8.357 4.02c3.709-1.783 7.16-2.99 8.534-3.39c3.692-1.056 7.417-1.97 12.127-1.91c.366.005.603-.645-.04-.67m3.423 2.577c-3.947.583-8.085 1.749-11.694 2.973c-3.607 1.224-6.175 2.678-7.85 4.418c4.29-2.463 6.65-3.327 8.047-3.808c3.564-1.209 6.891-2.05 11.615-2.933c.567-.106.112-.684-.118-.65m2.007 3.288c-7.915 1.261-13.045 4.676-16.305 8.063c5.053-3.807 8.568-5.853 16.443-7.413c.499-.1.348-.728-.138-.65m3.858 2.893c-7.962 1.226-12.553 6.066-14.465 9.261c5.037-5.032 8.957-7.771 14.602-8.611c.572-.085.426-.737-.137-.65m2.402 2.521c-1.241.155-2.93 1.035-4.527 2.048s-2.801 2.245-3.52 3.833c1.924-1.985 2.693-2.522 3.874-3.282a17 17 0 0 1 4.331-1.949c.588-.171.144-.687-.157-.65'/%3E%3Cuse href='%23skillIconsLatexLight0' stroke-width='0'/%3E%3Cpath fill='%23fff' stroke='%23fdfdfd00' stroke-width='0' d='M160.686 58.824a2.797 2.797 0 1 1-5.594 0a2.797 2.797 0 0 1 5.594 0Z'/%3E%3C/g%3E%3C/svg%3E");
}
