/*-- scss:defaults --*/

// Nerd Font
@import "https://www.nerdfonts.com/assets/css/webfont.css";

// JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

// Rufina
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

// Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Fleur De Leah
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

// FUENTES ---------------------------------------------------------------------

$font-family-sans-serif: "Noto Sans", serif !default;
$font-family-monospace: "JetBrains Mono";
$presentation-font-size-root: 30px;

// COLORES ---------------------------------------------------------------------

$azul: #1A428A;
$blanco: #FFFFFF;
$celeste: #6AAAE4;
$gris: #c0c0c0 ;
$gris2: #4D4D4D;
$rosa: #F79CD4;
$negro: #131E29;
$rosa-claro: lighthen($rosa, 60);
$code-bg: #E5E5E5;
$code-color: $negro;

$body-bg: $azul !default;
$body-color: $blanco !default;
$link-color: darken($rosa, 10) !default;
$link-hover-color: darken($rosa, 25) !default;

$selection-bg: $gris !default;

// HEADER ----------------------------------------------------------------------

$presentation-heading-font: "Rufina", serif !default;
$presentation-heading-color: $rosa !default;

// MERMAID ---------------------------------------------------------------------

$mermaid-bg-color: $blanco;
$mermaid-edge-color: $rosa;
$mermaid-node-fg-color: $celeste;
$mermaid-fg-color: $body-color;
$mermaid-fg-color--lighter: $azul;
$mermaid-fg-color--lightest: $azul;
$mermaid-font-family: $font-family-sans-serif;
$mermaid-label-bg-color: $body-bg;
$mermaid-label-fg-color: $azul;
$mermaid-node-bg-color: $blanco;
$mermaid-node-fg-color: $rosa;

// CALLOUT ---------------------------------------------------------------------

$callout-border-width: 1rem;

/*-- scss:rules --*/

// ESTILOS PROPIOS -------------------------------------------------------------

.fin {
    font-family: "Fleur De Leah";
    color: $gris2;
}

.fondo {
    background-color: $rosa;
    border-radius: 5px;
    box-shadow: 2px 2px $blanco;
    padding: 10px;
    a {
      color: $azul;
        &:hover {
          color: $blanco;
        }
    }
}

.grande {
    font-size: 6em;
}

quarto-portada {
    color: $rosa;
    text-shadow: 2px 2px $blanco;
    font-size: 1.3em;
}

vhg {
    color: $rosa;
    font-weight: bold;
    text-decoration: solid 2px $blanco;
}

rosa {
    color: $rosa;
}

gris {
    color: $gris;
}

blanco {
    color: $blanco;
}

caa {
    color: $blanco;
    font-size: .7em;
    line-height: 10px;
}

.subtitle {
    color: $blanco;
    margin-top: -5px;
    margin-bottom: 0em;
    font-size: 1.2em;
}

.link {
    font-size: 6rem;
}

linea {
    text-decoration: underline 3px $rosa;
}

.tree {
    font-weight: bold;
}

.arbol {
    font-weight: bold;
}

.eqi-container {
  display: flex;
  justify-content: space-between;
}

azul {
    color: $azul;
}

.fondo-azul {
    background-color: $azul;
    padding: 5px;
}

.fondo-azul-gracias {
    background-color: $azul;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px $blanco;
}

lang-rosa {
    color: $blanco;
    &:hover {
        color: $rosa;
    }
}

gracias {
    font-family: "Rufina";
    color: $azul;
    font-weight: bold;
    text-shadow: 2px 2px $blanco;
}

barra {
  font-weight: bold;
  color: $rosa;
  font-family: "JetBrains Mono";
  font-size: 2.5em;
}

.caja1 {
  height: 125px;
  width: 125px;
  margin-bottom: 15px;
  border: 1px solid white;
  background-color: #B86092;
}

.caja2 {
  height: 125px;
  width: 125px;
  margin-left: 15px;
  border: 1px solid white;
  background-color: #007E2E;
}

// ESTILOS PERSONALIZADOS ------------------------------------------------------

.title-slide h1 {
  text-decoration: underline 2px solid $celeste;
  text-underline-offset: 5px;
}

.header-section-number {
    font-family: "JetBrains Mono";
    color: $blanco;
    font-size: .6em;
}

li::marker {
    color: $rosa;
}

:root {
    --quarto-hl-fu-color: #{$negro};
    --header-font-color: #{$rosa};
}

.reveal .footer > * {
    margin-top: 0;
    margin-bottom: 0;
    color: $blanco;
    font-family: "JetBrains Mono";
}

h1.title {
    margin-bottom: .7em;
    font-size: 3em;
}

code {
    border-radius: 0px;
}

// PORTADA ---------------------------------------------------------------------

.quarto-title-author-name {
    font-size: .7em;
    padding-bottom: 10px;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author a {
    font-size: .8em;
    padding-bottom: 10px;
}

.quarto-title-affiliation {
    font-size: .7em;
}

.quarto-title-author-email {
    color: $rosa;
    padding-bottom: 10px;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
    padding: 2em .5em .5em .5em;
    text-align: left;
}

#title-slide .subtitle, div.reveal div.slides section.quarto-title-block .subtitle {
  margin-bottom: .5rem;
}

.date {
    font-family: "JetBrains Mono";
    color: $gris;
    font-size: 1rem;
    margin-top: 0px imporant;
}

.reveal .slides section .fragment.hl-blanco {
  opacity: unset;
  visibility: unset;

  &.visible, &.current-fragment {
      color: $azul;
      background-color: $blanco;
      border-radius: 3px;
  }
}

.reveal .slides section .fragment.hl-proud {
  opacity: unset;
  visibility: unset;

  &.visible, &.current-fragment {
      color: $azul;
      background-color: $blanco;
      border-radius: 3px;
      box-shadow: 0px 0px 10px 10px $rosa;
  }
}

div.reveal.has-logo div.slide-number {
    font-family: "JetBrains Mono";
    color: $gris;
    font-size: .5em;
}

.reveal .footer > * {
    margin-top: 0;
    margin-bottom: 0;
    color: $celeste;
    font-family: "JetBrains Mono";
}

.reveal div.callout.callout-style-simple, .reveal div.callout.callout-style-default {
    border-left: 1rem solid $rosa;
    border-right: solid 1px $rosa;
    border-top: solid 1px $rosa;
    border-bottom: solid 1px $rosa;
}

.quarto-dark .code-with-filename .code-with-filename-file {
    background-color: $celeste;
    color: $blanco;
}

// MERMAID DEFAULT -------------------------------------------------------------

#mermaid-1 p {
    margin: 0;
    font-weight: bold;
}

#mermaid-2 p {
    margin: 0;
    font-weight: bold;
}

#mermaid-2 .outdated>* {
  stroke: #000000!important;
  color: #000000!important;
  fill: $blanco !important;
}

// MERMAID MOTIVATION ----------------------------------------------------------

.eos-icons--rotating-gear {
  display: inline-block;
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23F79CD4' d='M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5s3.5 1.57 3.5 3.5s-1.57 3.5-3.5 3.5z'%3E%3CanimateTransform attributeName='transform' attributeType='XML' dur='3s' from='0 12 12' repeatCount='indefinite' to='360 12 12' type='rotate'/%3E%3C/path%3E%3C/svg%3E");
}

// MERMAID QUARTO --------------------------------------------------------------

.ant-design--code-filled {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23fff' d='M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32M513.1 518.1l-192 161c-5.2 4.4-13.1.7-13.1-6.1v-62.7c0-2.3 1.1-4.6 2.9-6.1L420.7 512l-109.8-92.2a7.63 7.63 0 0 1-2.9-6.1V351c0-6.8 7.9-10.5 13.1-6.1l192 160.9c3.9 3.2 3.9 9.1 0 12.3M716 673c0 4.4-3.4 8-7.5 8h-185c-4.1 0-7.5-3.6-7.5-8v-48c0-4.4 3.4-8 7.5-8h185c4.1 0 7.5 3.6 7.5 8z'/%3E%3C/svg%3E");
}

.simple-icons--quarto {
  display: inline-block;
  width:40px;
  height:40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12.65 12.854V24c6.042-.325 10.923-5.105 11.33-11.125H12.65Zm-1.504 0H.02c.427 5.94 5.166 10.699 11.105 11.105V12.854Zm1.505-1.505H24C23.675 5.247 18.753.325 12.65 0Zm-1.505 0V0C5.106.427.326 5.308 0 11.35Z'/%3E%3C/svg%3E");
}

.material-symbols--markdown {
  display: inline-block;
  width:40px;
  height:40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='m16 15l3-3l-1.05-1.075l-1.2 1.2V9h-1.5v3.125l-1.2-1.2L13 12zM4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm1.5-5H7v-4.5h1v3h1.5v-3h1V15H12v-5q0-.425-.288-.712T11 9H6.5q-.425 0-.712.288T5.5 10z'/%3E%3C/svg%3E");
}

.fe--document {
  display: inline-block;
  width:40px;
  height:40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M15 4H6v16h12V7h-3zM6 2h10l4 4v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2m2 9h8v2H8zm0 4h8v2H8z'/%3E%3C/svg%3E");
}

.file-icons--latex {
  display: inline-block;
  width:40px;
  height:40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M507.712 311.74q-11.854 0-16.772-2.27c-4.918-2.27-6.599-4.456-9.962-8.827l-62.298-89.284l39.85-57.757q5.045-6.81 13.746-12.358c8.701-5.548 15.343-5.549 28.627-5.549v-8.828h-68.855v8.828q8.323 0 12.989 4.161c4.666 4.161 4.666 5.843 4.666 9.206q0 1.766-.252 3.405c-.252 1.639-.841 2.228-2.018 3.405l-33.293 48.93l-37.832-55.74l-1.135-1.387l-1.135-2.9q0-3.531 4.792-6.305c4.792-2.774 7.567-2.774 13.115-2.774v-8.828H311.74v8.828h4.54q11.603 0 17.403 2.018c5.8 2.018 6.894 3.699 9.08 7.062l53.47 79.952l-46.66 69.108q-3.28 5.044-11.981 11.476c-8.701 6.432-15.932 6.432-30.392 6.432v8.827h16.413c-3.319 17.739-7.947 31.114-13.892 40.103q-10.34 15.637-46.913 15.637h-37.833q-10.089 0-11.728-2.27c-1.639-2.27-1.639-4.456-1.639-8.827v-75.917h24.465q19.925 0 25.474 7.567c5.549 7.567 5.549 13.704 5.549 25.978h6.81v-75.665h-6.81q0 18.412-4.666 25.852c-4.666 7.44-11.896 7.44-26.357 7.44h-24.465v-69.108q0-6.559 1.639-8.827c1.639-2.268 5.002-2.27 11.728-2.27h35.563q33.292 0 42.75 12.863c9.458 12.863 10.635 22.868 12.989 42.877h6.558l-8.827-64.567H184.714l-4.381-62.298H4.538l-4.54 64.567h6.558q3.531-35.058 11.602-45.399c8.071-10.341 18.664-10.341 39.85-10.341h15.386q5.044 0 5.927 3.026c.883 3.026.883 4.708.883 8.071v149.313q0 6.558-3.657 9.962c-3.657 3.404-10.888 3.405-25.348 3.405H37.832v8.827h106.94v-8.827h-9.08q-21.69 0-25.221-3.405c-3.531-3.405-3.531-5.591-3.531-9.962V149.063q0-5.045.504-7.188c.504-2.143 1.597-2.732 3.784-3.91h15.638q31.779 0 39.85 10.341c5.202 6.666 8.907 21.058 11.123 43.129h-21.968v8.827h6.558q16.899 0 19.673 2.522c2.774 2.522 2.774 5.297 2.774 10.845v149.313q0 8.323-2.774 10.846c-2.774 2.523-8.407 2.522-19.673 2.522h-6.558v8.827h164.697l9.763-64.567h48.247v-8.827q-10.089 0-13.998-5.045c-3.909-5.045-3.909-6.137-3.909-8.323q0-1.766.252-3.405c.252-1.639.841-2.228 2.017-3.405l40.103-60.028l44.39 69.107q0 1.514 1.135 1.765l1.135.252q0 3.531-4.666 6.305c-4.666 2.774-7.44 2.774-12.989 2.774v8.827H512v-8.827z'/%3E%3C/svg%3E");
}

.bytesize--book {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 7S9 1 2 6v22c7-5 14 0 14 0s7-5 14 0V6c-7-5-14 1-14 1m0 0v21'/%3E%3C/svg%3E");
}

.lineicons--www {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M15.714 14.096q.03.018.066.018h.9q.08 0 .097-.085l.38-2.071q.007-.018.019-.018t.018.018l.435 2.078q.018.078.102.078h.967q.078 0 .096-.079L19.87 9.99q.014-.05-.012-.073q-.018-.03-.066-.03h-1.033q-.078 0-.097.079l-.453 1.969q-.006.024-.018.024t-.018-.024l-.453-1.97q-.018-.078-.097-.078h-.881q-.084 0-.103.079l-.405 1.969q-.006.024-.018.024q-.012-.006-.018-.024l-.513-1.97q-.019-.078-.097-.078h-2.002q-.08 0-.097.079l-.453 1.969q-.006.024-.018.024T13 11.935l-.453-1.97q-.018-.078-.097-.078h-.882q-.084 0-.102.079l-.405 1.969q-.006.024-.018.024q-.012-.006-.018-.024l-.514-1.97q-.018-.078-.096-.078H8.41q-.078 0-.096.079l-.453 1.969q-.006.024-.018.024q-.013 0-.019-.024l-.453-1.97q-.018-.078-.096-.078h-.882q-.084 0-.103.079l-.404 1.969q-.006.024-.019.024q-.012-.006-.018-.024l-.513-1.97q-.018-.078-.097-.078H4.213q-.084 0-.084.072q0 .02.006.03l1.196 4.048a.1.1 0 0 0 .036.06q.03.018.067.018h.9q.078 0 .096-.085l.38-2.071q.006-.018.019-.018t.018.018l.435 2.078q.018.078.102.078h.967q.078 0 .097-.079l.973-3.665l1.083 3.666a.1.1 0 0 0 .037.06q.03.018.066.018h.9q.079 0 .097-.085l.38-2.071q.006-.018.018-.018t.018.018l.435 2.078q.018.078.103.078h.966q.08 0 .097-.079l.974-3.665l1.083 3.666a.1.1 0 0 0 .036.06'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M4.248 4.5a2.25 2.25 0 0 0-2.25 2.25v10.5a2.25 2.25 0 0 0 2.25 2.25H19.75A2.25 2.25 0 0 0 22 17.25V6.75a2.25 2.25 0 0 0-2.25-2.25zm-.75 2.25a.75.75 0 0 1 .75-.75H19.75a.75.75 0 0 1 .75.75v10.5a.75.75 0 0 1-.75.75H4.248a.75.75 0 0 1-.75-.75z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.majesticons--presentation {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M3 2a1 1 0 0 0 0 2v11a1 1 0 0 0 1 1h4.613L7.05 20.684a1 1 0 0 0 1.898.632L10.72 16h2.558l1.772 5.316a1 1 0 0 0 1.898-.632L15.387 16H20a1 1 0 0 0 1-1V4a1 1 0 1 0 0-2z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.ic--round-dashboard {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M4 13h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1m0 8h6c.55 0 1-.45 1-1v-4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v4c0 .55.45 1 1 1m10 0h6c.55 0 1-.45 1-1v-8c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1v8c0 .55.45 1 1 1M13 4v4c0 .55.45 1 1 1h6c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1h-6c-.55 0-1 .45-1 1'/%3E%3C/svg%3E");
}

.carbon--pdf {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23fff' d='M30 11V9h-8v14h2v-6h5v-2h-5v-4zM8 9H2v14h2v-5h4a2 2 0 0 0 2-2v-5a2 2 0 0 0-2-2m0 7H4v-5h4zm8 7h-4V9h4a4 4 0 0 1 4 4v6a4 4 0 0 1-4 4m-2-2h2a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-2z'/%3E%3C/svg%3E");
}

.carbon--html {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23fff' d='M28 19v-8h-2v10h6v-2zm-4-8h-2l-1.5 4l-1.5-4h-2v10h2v-7l1.5 4l1.5-4v7h2zM9 13h2v8h2v-8h2v-2H9zm-4-2v4H2v-4H0v10h2v-4h3v4h2V11z'/%3E%3C/svg%3E");
}

.carbon--doc {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23fff' d='M30 23h-6a2 2 0 0 1-2-2V11a2 2 0 0 1 2-2h6v2h-6v10h6zm-12 0h-4a2 2 0 0 1-2-2V11a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2m-4-12v10h4V11zM6 23H2V9h4a4.005 4.005 0 0 1 4 4v6a4.005 4.005 0 0 1-4 4m-2-2h2a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2H4z'/%3E%3C/svg%3E");
}

.carbon--ppt {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23fff' d='M22 11h3v12h2V11h3V9h-8zm-8 12h-2V9h6a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-4zm0-7h4v-5.001h-4zM4 23H2V9h6a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H4zm0-7h4v-5.001H4z'/%3E%3C/svg%3E");
}

.mdi--web {
  display: inline-block;
  width:55px;
  height:55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M16.36 14c.08-.66.14-1.32.14-2s-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2m-5.15 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56M14.34 14H9.66c-.1-.66-.16-1.32-.16-2s.06-1.35.16-2h4.68c.09.65.16 1.32.16 2s-.07 1.34-.16 2M12 19.96c-.83-1.2-1.5-2.53-1.91-3.96h3.82c-.41 1.43-1.08 2.76-1.91 3.96M8 8H5.08A7.92 7.92 0 0 1 9.4 4.44C8.8 5.55 8.35 6.75 8 8m-2.92 8H8c.35 1.25.8 2.45 1.4 3.56A8 8 0 0 1 5.08 16m-.82-2C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2s.06 1.34.14 2M12 4.03c.83 1.2 1.5 2.54 1.91 3.97h-3.82c.41-1.43 1.08-2.77 1.91-3.97M18.92 8h-2.95a15.7 15.7 0 0 0-1.38-3.56c1.84.63 3.37 1.9 4.33 3.56M12 2C6.47 2 2 6.5 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2'/%3E%3C/svg%3E");
}

// TREE DIRECTORY --------------------------------------------------------------

.material-symbols--csv {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2367ff5e' d='M5.75 15h3v-1.5h-2.5v-3h2.5V9h-3q-.425 0-.712.288T4.75 10v4q0 .425.288.713T5.75 15m3.9 0h3q.425 0 .713-.288T13.65 14v-1.5q0-.425-.288-.788t-.712-.362h-1.5v-.85h2.5V9h-3q-.425 0-.712.288T9.65 10v1.5q0 .425.288.763t.712.337h1.5v.9h-2.5zm6.6 0h1.5l1.75-6H18l-1 3.45L16 9h-1.5zM4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20z'/%3E%3C/svg%3E");
}

.material-symbols--file-png {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23c64c4c' d='M6.5 11.5v-1h1v1zm10 3.5h1q.625 0 1.063-.437T19 13.5V12h-1.5v1.5h-1v-3H19q0-.625-.437-1.062T17.5 9h-1q-.625 0-1.062.438T15 10.5v3q0 .625.438 1.063T16.5 15M5 15h1.5v-2H8q.425 0 .713-.288T9 12v-2q0-.425-.288-.712T8 9H5zm5 0h1.5v-2.4l1 2.4H14V9h-1.5v2.35L11.5 9H10zm-6 5q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm0-2V6z'/%3E%3C/svg%3E");
}

.simple-icons--quarto2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2375AADB' d='M12.65 12.854V24c6.042-.325 10.923-5.105 11.33-11.125H12.65Zm-1.504 0H.02c.427 5.94 5.166 10.699 11.105 11.105V12.854Zm1.505-1.505H24C23.675 5.247 18.753.325 12.65 0Zm-1.505 0V0C5.106.427.326 5.308 0 11.35Z'/%3E%3C/svg%3E");
}

.fa6-brands--r-project2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 581 512'%3E%3Cpath fill='%23256ABC' d='M581 226.6C581 119.1 450.9 32 290.5 32S0 119.1 0 226.6C0 322.4 103.3 402 239.4 418.1V480h99.1v-61.5c24.3-2.7 47.6-7.4 69.4-13.9L448 480h112l-67.4-113.7c54.5-35.4 88.4-84.9 88.4-139.7m-466.8 14.5c0-73.5 98.9-133 220.8-133s211.9 40.7 211.9 133c0 50.1-26.5 85-70.3 106.4c-2.4-1.6-4.7-2.9-6.4-3.7c-10.2-5.2-27.8-10.5-27.8-10.5s86.6-6.4 86.6-92.7s-90.6-87.9-90.6-87.9h-199V361c-74.1-21.5-125.2-67.1-125.2-119.9m225.1 38.3v-55.6c57.8 0 87.8-6.8 87.8 27.3c0 36.5-38.2 28.3-87.8 28.3m-.9 72.5H365c10.8 0 18.9 11.7 24 19.2c-16.1 1.9-33 2.8-50.6 2.9z'/%3E%3C/svg%3E");
}

.fluent--document-yml-16-filled {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23ffa100' d='M8 4.5V1H4.5A1.5 1.5 0 0 0 3 2.5v6.881a1.5 1.5 0 0 1 1.75-.18a1.5 1.5 0 0 1 2.092.628l.658 1.317l.659-1.317a1.5 1.5 0 0 1 2.341-.447a1.5 1.5 0 0 1 2.5 1.09V6H9.5A1.5 1.5 0 0 1 8 4.5m1 0V1.25L12.75 5H9.5a.5.5 0 0 1-.5-.5M2.5 15a.5.5 0 0 0 .5-.5v-1.361l1.429-2.382a.5.5 0 1 0-.858-.515l-1.07 1.786l-1.072-1.786a.5.5 0 0 0-.858.515l1.43 2.382v1.36a.5.5 0 0 0 .5.5m3.447-4.724A.5.5 0 0 0 5 10.5v4a.5.5 0 1 0 1 0v-1.882l1.053 2.105a.5.5 0 0 0 .894 0L9 12.618V14.5a.5.5 0 1 0 1 0v-4a.5.5 0 0 0-.947-.224L7.5 13.382zM12 10.5a.5.5 0 0 0-1 0v4a.5.5 0 0 0 .5.5h2a.5.5 0 1 0 0-1H12z'/%3E%3C/svg%3E");
}
